.kiv-message__title {
}
.kiv-message__body {
}
.kiv-message__message {
  border-radius: 4px;
  background: #eeeeee;
}
.kiv-player.current-playing {
  z-index: 100;
}
.kiv-players-container {
  position: relative;
  z-index: 500;
}
.kiv-player {
  position: absolute;
}
.kiv-hidden {
  display: none;
}
.kiv-rapt-engine {
  z-index: 1000;
  position: absolute;
}
.kiv-container {
  position: relative;
  .playkit-left-controls {
    width: calc(100% - 130px);
  }

  .playkit-player-gui {
    font-family: "courier" !important;
  }

  .playkit-time-display {
    float: right;
    position: relative;
    left: 0;
    font-family: sans-serif;
    padding: 0;
    margin-right: 6px;
  }

  .playkit-seek-bar {
    padding: 6px 0;
    cursor: pointer;
    position: relative;
    top: 16px;
    width: calc(100% - 310px);
    left: 45px;
  }

  .playkit-icon-rewind-10 {
    display: none;
  }

  .playkit-pre-playback-play-button {
    box-sizing: border-box;
    display: block;
    width: 95px;
    height: 95px;
    padding-top: 20px;
    padding-left: 28px;
    line-height: 20px;
    border: 6px solid #fff;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  .playkit-pre-playback-play-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #ffff64;
    text-shadow: 0 0 10px #ffff64;
  }

  .playkit-player {
    .playkit-bottom-bar {
      padding: 0 16px;
      height: 28px;
    }
    .playkit-control-button,
    .playkit-control-button i {
      width: 20px;
      height: 20px;
    }

    .playkit-time-display {
      line-height: 26px;
    }
    .playkit-volume-control-bar{
      bottom: 20px;
      left: -8px;
    }
  }
}
.kiv-container,
.kiv-player,
.kiv-players-container {
  width: 100%;
  height: 100%;
}
