.kiv-message__message {
  border-radius: 4px;
  background: #eeeeee;
}
.kiv-player.current-playing {
  z-index: 6;
}

.kiv-initiated {
  .playkit-pre-playback-play-overlay {
    display: none;
  }
}

.kiv-player {
  position: absolute;
}

.kiv-hidden {
  display: none;
}

.kiv-rapt-engine {
  z-index: 7;
  position: absolute;
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

.kiv-container {
  position: relative;

  .playkit-player.playkit-size-xs .playkit-left-controls .playkit-control-button-container
  {
    display: inline-block;
  }


  &.rapt-switching{
    .playkit-black-cover{
      background-color: transparent;
    }
    .playkit-spinner-container,
    .playkit-poster{
      display: none;
    }

  }

  .playkit-player-gui {
    font-family: "courier" !important;
  }

  .playkit-time-display {
    float: left;
    position: relative;
    left: 0;
    font-family: sans-serif;
    padding: 0;
    margin-right: 6px;
  }

  .playkit-seek-bar {
    padding: 6px 0;
    cursor: pointer;
    position: relative;
    top: 13px;
    width: calc(100% - 126px);
    left: 45px;
  }
  .hide-fullscreen .playkit-seek-bar {
    width: calc(100% - 96px);
  }
  /* Scrubber width - with audio-tracks/captions */
  .has-extra-tracks .playkit-player .playkit-seek-bar {
    width: calc(100% - 160px) !important;
  }
  .has-extra-tracks .playkit-player .hide-fullscreen .playkit-seek-bar {
    width: calc(100% - 130px) !important;
  }

  .has-timers {

    /* Scrubber width (when timers are on) - without audio-tracks/captions */
    .playkit-seek-bar {
      width: calc(100% - 210px) !important;
    }
    /* Scrubber width (when timers are on) - with audio-tracks/captions */
    .has-extra-tracks .playkit-player .playkit-seek-bar {
      width: calc(100% - 246px) !important;
    }
    .has-extra-tracks .playkit-player .hide-fullscreen .playkit-seek-bar{
      width: calc(100% - 216px) !important;
    }
    .playkit-player .hide-fullscreen .playkit-seek-bar{
      width: calc(100% - 186px) !important;
    }
  }


  /* Fullscreen exists - reduce the scrubber width by 30px */
  .playkit-seek-bar{
    //padding-right: 30px;
  }

  /* lack of fullscreen button adds 30px (or in other words removes the default 30)  */
  .hide-fullscreen .playkit-seek-bar{
    padding-right: 0px;
  }

  .playkit-icon-rewind-10 {
    display: none;
  }

  .playkit-pre-playback-play-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #ffff64;
    text-shadow: 0 0 10px #ffff64;
  }

  .playkit-player {
    .playkit-bottom-bar {
      padding: 0 8px;
      height: 28px;
    }
    .playkit-control-button,
    .playkit-control-button i {
      width: 20px;
      height: 20px;
    }

    .playkit-time-display {
      line-height: 22px;
      font-size: 12px;
    }
    .playkit-volume-control-bar {
      bottom: 24px;
      left: -8px;
    }
  }
}
.kiv-container,
.kiv-player {
  width: 100%;
  height: 100%;
}
